<form action="/" method="POST">
  <textarea class="text_area row" rows="1" cols="135" maxlength="100" placeholder="Player 1..." name="player1"></textarea>
  <textarea class="text_area row" rows="1" cols="135" maxlength="100" placeholder="Player 2..." name="player2"></textarea>
  <textarea class="text_area row" rows="1" cols="135" maxlength="100" placeholder="Player 3..." name="player3"></textarea>
  <textarea class="text_area row" rows="1" cols="135" maxlength="100" placeholder="Player 4..." name="player4"></textarea>

  <p class="button">
    <button class="button_glow" type="submit">CREATE NEW GAME</button>
  </p>
</form>
